# 42 API TOKEN
UID=
SECRET=

# FRONTEND
PORT_FRONT=

# BACKEND
PORT_BACK=
JWT_KEY=

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# POSTGRES ADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
