@font-face {
	font-family: FuturaPT;
	src: url(../Font/ParaType-Futura_PT_Book.otf);
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	font-family: FuturaPT;
}

.main {
	min-height : 100%;
}
